@import url(https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,600,700,300,800);
@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900|Poppins:100,200,300,400,500,600,700,800,900|Raleway:100,200,300,400,500,600,700,800,900" rel="stylesheet);
@import url(https://fonts.googleapis.com/css?family=Lato:400,100,100italic,300,300italic,400italic,700italic,700,900italic,900);
@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,500,700);
/*************************
*******Typography******
**************************/

body {
  background: #f0f0f0;
  font-family: "Lato",sans-serif;
  color:#4e4e4e;
  line-height: 22px;
}

h1,h2,h3,h4,h5,h6 {font-weight: 600; font-family: 'Open Sans', sans-serif;color:#4e4e4e;}

h1{font-size: 2.7rem; color:#fff;
    font-family: 'Roboto', sans-serif; font-weight: 500;}
#main-slider .carousel p {
  font-size: 2.3rem; 
  font-weight: 500;
  font-family: 'Roboto', sans-serif;
}

h2{font-size: 20px;}

h3{font-size: 20px;line-height: 24px;}

h4{font-size: 16px;}

a {color: #c41c3d; -webkit-transition: color 300ms, background-color 300ms;-moz-transition: color 300ms, background-color 300ms;
  -o-transition:  color 300ms, background-color 300ms;transition:  color 300ms, background-color 300ms;
}

a:hover, a:focus {
  color: #d43133;
}

i{
  font-size: 17px;
}

.required label::after{content:" *";color:red}
.location a{
  color: #5bc475;
  font-weight: 700;
  font-size: 17px;
}

.location a:hover, .location a:focus {
  color: #5bc475;
}

.btn_1, a.btn_1 {background: rgba(0, 0, 0, 0) none repeat scroll 0 0; border: 2px solid #50a42f; color: #50a42f; border-radius: 3px;display: inline-block;font-weight: 600;padding: 10px 20px; transition: all 0.3s ease 0s;}
.btn_1:hover, a.btn_1:hover {background: rgba(0, 0, 0, 0) none repeat scroll 0 0;border: 2px solid #50a42f;color: #50a42f;}
#summary_review a.btn_1{display:table; text-align:center;margin:0 auto;}


#summary_review .inline-add_bottom_15{
  display: inline-block; margin: auto;
}
.btn-default{
padding: 8px 20px;
  background: #5bc475;
  color: #fff;
  border-radius: 4px;
  border:none;
  margin-top: 10px;
}
.btn-primary{
  padding: 8px 20px;
  background: #c41c3d;
  color: #fff;
  border-radius: 4px;
  border:none;
  margin-top: 10px;
}

.btn-primary:hover, .btn-primary:focus{
  background: #5bc475;
  outline: none;
  box-shadow: none;
} 
.btn-default:hover, .btn-default:focus{
  background: #76cc8a;
  outline: none;
  box-shadow: none;
}
.btn-transparent {
  border: 3px solid #fff;
  background: transparent;
  color: #fff;
}

.btn-transparent:hover {
  border-color: rgba(255, 255, 255, 0.5);
}

a:hover,
a:focus {
  color: #111;
  text-decoration: none;
  outline: none;
}

.dropdown-menu {
  margin-top: -1px;
  min-width: 180px;
}

.center h2{
  font-size: 36px;
  margin-top: 0;
  margin-bottom: 20px;
}

.media>.pull-left{
  margin-right: 20px;
}

.media>.pull-right{
  margin-left: 20px;
}

.loginOr{
  position: relative; 
  height: 300px;
}

.loginh5{
  font-size: 30px; 
  font-weight: 600; 
  position: absolute; 
  top: 50%; 
  left:50%;
  transform: translate(-50%,-50%);
}

body > section {
  padding: 70px 0;
}

.center {
  text-align: center;
  padding-bottom: 55px;
}

.scaleIn {
  -webkit-animation-name: scaleIn;
  animation-name: scaleIn;
}

.lead{
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  text-align: justify;
}

.transparent-bg {
  background-color: transparent !important;
  margin-bottom: 0;
}

@-webkit-keyframes scaleIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
  }

  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes scaleIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
  }

  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}


/*************************
*******Header******
**************************/

#header .search{
  display: inline-block;
}

/*.navbar>.container .navbar-brand{
  margin-left: 0;
}*/

.navbar-brand {
  padding: 0;
  margin:0;
}

.navbar {
  border-radius: 0;
  margin-bottom: 0;
  background: #fff;
  padding: 15px 0;
  padding-bottom: 0;
}

 .navbar-nav{
  margin-top: 12px;
 }

.navbar-nav>li, .navbar-nav>span{
  margin-left: 20px;
  padding-bottom: 28px;
}

.navbar-default .navbar-nav > li > a, .navbar-default .navbar-nav > span > a {
  padding: 5px 12px;
  margin: 0;
  border-radius: 3px;
  color: #0a0a0a;
  line-height: 24px;
  display: inline-block;
}

.navbar-default .navbar-nav > li > a:hover{
	/*background-color: #c52d2f;*/
  color: #c41c3d;
}

.navbar-default {
  background-color: #f7f7f7;
  border: 2px solid #f7f7f7;
  height: 95px;
}

.navbar-default .navbar-brand {
  font-size: 36px;
  line-height: 50px;
  color: #fff;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  background-color: #f7f7f7;
  color: #c41c3d;
}

.navbar-default .navbar-nav .dropdown-menu {
  background-color: #5bc475;
  -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.125);
  -moz-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.125);
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.125);
  border: 0;
  padding: 0;
  margin-top: 0;
  border-top: 0;
  border-radius: 0;
  left: 0;
}

.navbar-default .navbar-nav .dropdown-menu:before{
  position: absolute;
  top:0;
}

.navbar-default .navbar-nav .dropdown-menu > li > a {
  padding: 8px 15px;
  color: #fff;
}

.navbar-default .navbar-nav .dropdown-menu > li:hover > a,
.navbar-default .navbar-nav .dropdown-menu > li:focus > a,
.navbar-default .navbar-nav .dropdown-menu > li.active > a {
  /*background-color: #c52d2f;*/
  color: #c41c3d;
}

.navbar-default .navbar-nav .dropdown-menu > li:last-child > a {
  border-radius: 0 0 3px 3px;
}

.navbar-default .navbar-nav .dropdown-menu > li.divider {
  background-color: transparent;
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-top: 0;
  padding-bottom: 0;
}


.verified{
  background-color: #dff0d8; 
  color:#3c763d; 
  border-color:#d6e9c6;
}

.unverified{
  color:#a94442;
  background-color:#f2dede;
  border-color:#ebccd1;
}

.verified, .unverified{
  padding: 10px;
  margin-bottom:0px;
  border:1px solid transparent;
  border-radius:4px;
}


/*************************
*******Home Page******
**************************/

#main-slider {
  position: relative;
}

.no-margin {
  margin-top: 70px;
  padding: 0;
}

#main-slider .carousel .carousel-content {
  margin-top: 90px;
  padding-left: 31px;
}

#main-slider .carousel .slide-margin{
  margin-top: 90px;
  text-align: left;
}

#main-slider .carousel h2 {
  color: #fff;
}

#main-slider .carousel .carousel-content p {
  color: #fff;
  font-size: 2.7rem;
  font-weight: 500;
}

#main-slider .carousel .btn-slide {
  padding: 8px 20px;
  background: #c52d2f;
  color: #fff;
  border-radius: 4px;
  margin-top: 25px;
  display: inline-block;
}

#main-slider .carousel .slider-img{
  text-align: right;
  position: absolute;
}


#main-slider .carousel .item {
  background-position: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  left: 0 !important;
  opacity: 0;
  top: 0;
  position: absolute;
  width: 100%;
  display: block !important;
  /*height: 550px;*/
  -webkit-transition: opacity ease-in-out 500ms;
  -moz-transition: opacity ease-in-out 500ms;
  -o-transition: opacity ease-in-out 500ms;
  transition: opacity ease-in-out 500ms;
}

#main-slider .carousel .item:first-child {
  top: auto;
  position: relative;
}

#main-slider .carousel .item.active {
  opacity: 1;
  -webkit-transition: opacity ease-in-out 500ms;
  -moz-transition: opacity ease-in-out 500ms;
  -o-transition: opacity ease-in-out 500ms;
  transition: opacity ease-in-out 500ms;
  z-index: 1;
}

#main-slider .carousel .page_header2{
  margin-top: 80px;
  /*background: #5bc475;*/
  text-align: center;
  /*/height: 250px;*/
  margin-bottom: 45px;
  padding-bottom: 45px;
}

.page_header{
  margin-bottom: 45px;
}

#main-slider .carousel .search_container:hover button.icon, #main-slider .carousel .search_container:active button.icon, #main-slider .carousel .search_container:focus button.icon {margin-left:0px;opacity: 1;outline: medium none;}
#main-slider .carousel .search_container:hover button.icon:hover {background: #5bc475;color: #fff;}
#main-slider .carousel .search_container button.icon {background:#5bc475;border: medium none;border-bottom-right-radius: 24px;border-top-right-radius: 24px;color: #fff;font-size: 10pt;height: 50px;margin-top: 18px;opacity: 1;transition: all 0.55s ease 0s;width: 50px;right:7%;position:relative}
#main-slider .carousel .search_container input#search {background: #fff none repeat scroll 0 0;border: medium none;border-radius:24px;color: #232833;float: left;font-size: 10pt;height: 50px;margin-top: 18px;padding-left: 22px;width:100%;}
.search_container {vertical-align: middle;white-space: nowrap;width:54%;text-align:center;}

#main-slider .carousel .search_container input#search:focus {
  outline: none;
}

#main-slider .prev,
#main-slider .next {
  position: absolute;
  top: 50%;
  background-color: #c52d2f;
  color: #fff;
  display: inline-block;
  margin-top: -25px;
  height: 40px;
  line-height: 40px;
  width: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 4px;
  z-index: 5;
}

#main-slider .prev:hover,
#main-slider .next:hover {
  background-color: #000;
}

#main-slider .prev {
  left: 10px;
}

#main-slider .next {
  right: 10px;
}

#main-slider .carousel-indicators li {
  width: 20px;
  height: 20px;
  background-color: #fff;
  margin: 0 15px 0 0;
  position: relative;
}

#main-slider .carousel-indicators li:after {
  position: absolute;
  content: "";
  width: 24px;
  height: 24px;
  border-radius: 100%;
  background: rgba(0, 0, 0, 0);
  border: 1px solid #FFF;
  left: -3px;
  top: -3px;
}

#main-slider .carousel-indicators .active{
  width: 20px;
  height: 20px;
  background-color: #c52d2f;
   margin: 0 15px 0 0;
   border: 1px solid #c52d2f;
   position: relative;
}

#main-slider .carousel-indicators .active:after {
  position: absolute;
  content: "";
  width: 24px;
  height: 24px;
  border-radius: 100%;
  background: #c52d2f;
  border: 1px solid #c52d2f;
  left: -3px;
  top: -3px;
}

#main-slider .active .animation.animated-item-1 {
  -webkit-animation: fadeInUp 300ms linear 300ms both;
  -moz-animation: fadeInUp 300ms linear 300ms both;
  -o-animation: fadeInUp 300ms linear 300ms both;
  -ms-animation: fadeInUp 300ms linear 300ms both;
  animation: fadeInUp 300ms linear 300ms both;
}

#main-slider .active .animation.animated-item-2 {
  -webkit-animation: fadeInUp 300ms linear 600ms both;
  -moz-animation: fadeInUp 300ms linear 600ms both;
  -o-animation: fadeInUp 300ms linear 600ms both;
  -ms-animation: fadeInUp 300ms linear 600ms both;
  animation: fadeInUp 300ms linear 600ms both;
}

#main-slider .active .animation.animated-item-3 {
  -webkit-animation: fadeInUp 300ms linear 900ms both;
  -moz-animation: fadeInUp 300ms linear 900ms both;
  -o-animation: fadeInUp 300ms linear 900ms both;
  -ms-animation: fadeInUp 300ms linear 900ms both;
  animation: fadeInUp 300ms linear 900ms both;
}

#main-slider .active .animation.animated-item-4 {
  -webkit-animation: fadeInUp 300ms linear 1200ms both;
  -moz-animation: fadeInUp 300ms linear 1200ms both;
  -o-animation: fadeInUp 300ms linear 1200ms both;
  -ms-animation: fadeInUp 300ms linear 1200ms both;
  animation: fadeInUp 300ms linear 1200ms both;
}

#services {
  background: #f0f0f0;
}

.pricing-page{
  background: #FFFFFF;
}

#services .lead,
#services h2{
  color: #000;
}

.services-wrap {
  padding: 40px 30px;
  background: #fff;
  border-radius: 4px;
  margin: 0 0 40px;
}

.services-wrap h3 {
  font-size: 20px;
  margin: 10px 0;
  color: #000;
}

.services-wrap .pull-left {
  margin-right: 20px;
}

#middle {
  background: #f2f2f2;
}

.accordion h2{
  margin-bottom: 25px;
}

.panel-default{
  border-color: transparent;
}

.panel-default>.panel-heading,
.panel{
  background-color: #e6e6e6; 
  border:0 none;
  box-shadow:none;
}

.panel-body{
  background-color: #FFFFFF;
  border: 2px solid #ececec;
}

#profile, #change_password, .chef_list_detail .box_style_2, #faq, #chefs, #terms, #register, #login, #dashboard, #reset_password{
  margin-top: 152px;
}


#myOrder, #chefs h5, #myBooking, .no-search-available, #investors{

  margin-top: 200px;
  margin-bottom: 100px;
}

.media-heading i {font-size: 28px; color: #5bc475;}
.media-body{text-align: center;}
#underLine hr{ display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #c41c3d;
    width: 10%;}
#hrUnderLine hr{
  display: block;
    height: 1px;
    border: 0;
    padding-bottom: 30px;
    border-top: 1px solid #c41c3d;
    width: 100%;
}
#checkout{
  margin-bottom: 100px;
}

#chefs h5, .no-search-available h5{
  font-size: 25px;
  text-transform: capitalize;
  text-align: center;
}

.panel{
  margin-bottom: 40px;
}

/*#chefs{
  margin-top: 45px;
}*/

#dashboard-white{
  background-color: #fff;
}

#dashboard-grey{
  background-color: #f0f0f0;
  text-align: center;
  margin: 10px 10px 20px 20px;
  padding-bottom: 40px;
  padding-top: 40px;
  border: 2px solid #ececec;
  border-radius: 6px;
}

#dashboard-grey h5{
  font-size: 16px;
}

.panel-default>.panel-heading+.panel-collapse .panel-body{
  background: #fff;
  color: #858586;
}

.panel-body{
  padding: 20px 20px 10px;
}

.panel-group .panel+.panel{
  margin-top: 0;
  border-top: 1px solid #d9d9d9;
}

.panel-group .panel{
  border-radius: 0;
}

.panel-heading{
  border-radius: 0;
}

.panel-title>a{
  color: #4e4e4e;
}

.panel-heading.active{
  background: #005c87;
}

.panel-heading.active .panel-title>a{
  color:#fff;
}

.nav-tabs>li{
  margin-bottom: 0px;
  border-bottom: 1px solid #e6e6e6;
}

.nav-tabs{
  border-bottom: transparent;
  border-right: 1px solid #e6e6e6;
}

.nav-tabs>li>a {
  background: #f5f5f5;
  color: #666;
  border-radius: 0;
  border: 0 none;
  line-height: 24px;
  margin-right:0;
  padding: 13px 15px;
}

.nav-tabs li:last-child{
  border-bottom: 0 none;
} 

.nav-stacked>li+li{
  margin-top: 0;
}

.nav-tabs>li>a:hover{
  background: #005c87;
  color:#fff;
}

.nav-tabs>li.active>a, 
.nav-tabs>li.active>a:hover, 
.nav-tabs>li.active>a:focus {
  border: 0;
  color:#fff;
  background: #005c87;
  position: relative;
}

.nav-tabs>li.active>a:after {
  position: absolute;
  content:  "";
  width: auto;
  height: auto;
  border-style:solid;
  border-color: transparent transparent transparent #005c87;
  border-width: 25px 22px;
  right: -44px;
  top:0;
}

/*************************
********* About Us Page CSS ******
**************************/

.about-us {
  margin-top: 110px;
  margin-bottom: -110px;
}

.about-us h2, 
.skill_text h2 {
  color:#4e4e4e;
  font-size: 30px;
  font-weight: 600;
}

.about-us p {
  color:#4e4e4e;
}

#carousel-slider {
  position: relative;
}

#carousel-slider .carousel-indicators {
  bottom: -25px;
}

#carousel-slider .carousel-indicators li {
  border: 1px solid #ffbd20;
}

#carousel-slider a i {
  border: 1px solid #777;
  border-radius:50%;
  font-size: 28px;
  height: 50px;
  padding: 8px;
  position: absolute;
  top: 50%;
  width: 50px;
  color:#777;
}

.top-bar{background:#333;height:45px;position:relative;overflow:hidden}
.top-bar ul li{display:inline-block;border-left:1px solid rgba(255, 255, 255, 0.15)}
.top-bar ul li:last-child{border-right:1px solid rgba(255, 255, 255, 0.15)}
.top-bar ul li a{color:#e2e2e2;display:inline-block;padding:0 10px 0 10px;line-height:45px}
.top-bar ul li a:hover{color:#888}
.top-bar .left-bar-side{float:left;margin-bottom:0}
.fa_icon_bolg{background: #7dbf18 none repeat scroll 0 0;border-radius: 50px;color: #fff;display: inline-block;font-size: 40px;height: 90px;line-height: 50px;padding: 5px 24px;text-align: center;vertical-align: middle;width: 90px;margin-bottom:15px;}
.required{color:red}
.top-bar .right-bar-side{float:right}
.top-bar i{margin:0 4px}
.top-bar .left-bar-side li{border:none;margin-right:0}
.top-bar .left-bar-side li:nth-last-child(1) span{display:none}
.top-bar .left-bar-side p{font-weight:400;color:#e2e2e2;line-height:40px;margin:0;display:inline-block;line-height:45px;font-size:14px}
.top-bar .left-bar-side span{color:#e2e2e2;margin:0 10px}

#carousel-slider a i:hover {
  background:#bfbfbf;
  color:#fff;
  border: 1px solid #bfbfbf;
}

#carousel-slider 
.carousel-control {
  width:inherit;
}

#carousel-slider .carousel-control.left i {
  left:-25px
}

#carousel-slider .carousel-control.right i {
  right: -25px;
}

#carousel-slider
.carousel-control.left, 
#carousel-slider
.carousel-control.right {
  background: none;
}

.skill_text {
  display: block;
  margin-bottom: 60px;
  margin-top: 25px;
  overflow: hidden;
}

.sinlge-skill {
  background:#f2f2f2;
  border-radius: 100%;
  color: #FFFFFF;
  font-size: 22px;
  font-weight: bold;
  height: 200px;
  position: relative;
  width: 200px;
  text-transform: uppercase;
  overflow: hidden;
  margin: 30px 0;

}

.sinlge-skill p em {
  color: #FFFFFF;
  font-size: 38px;
}

.sinlge-skill p {
  line-height: 1;
}

.joomla-skill, 
.html-skill, 
.css-skill, 
.wp-skill {
  position: absolute;
  height: 100%;
  bottom: 0;
  width:100%;
  border-radius: 100%;
  padding: 70px 0;
  text-align: center;
}


.joomla-skill {
  background: rgb(242,242,242); /* Old browsers */
  background: -moz-linear-gradient(top, rgba(242,242,242,1) 0%, rgba(242,242,242,1) 28%, rgba(45,125,164,1) 28%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(242,242,242,1)), color-stop(28%,rgba(242,242,242,1)), color-stop(28%,rgba(45,125,164,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(242,242,242,1) 0%,rgba(242,242,242,1) 28%,rgba(45,125,164,1) 28%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(242,242,242,1) 0%,rgba(242,242,242,1) 28%,rgba(45,125,164,1) 28%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(242,242,242,1) 0%,rgba(242,242,242,1) 28%,rgba(45,125,164,1) 28%); /* IE10+ */
  background: linear-gradient(to bottom, rgba(242,242,242,1) 0%,rgba(242,242,242,1) 28%,rgba(45,125,164,1) 28%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f2f2', endColorstr='#2d7da4',GradientType=0 ); /* IE6-9 */    
}

.html-skill {
  background: rgb(242,242,242); /* Old browsers */
  background: -moz-linear-gradient(top, rgba(242,242,242,1) 0%, rgba(242,242,242,1) 9%, rgba(106,164,47,1) 9%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(242,242,242,1)), color-stop(9%,rgba(242,242,242,1)), color-stop(9%,rgba(106,164,47,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(242,242,242,1) 0%,rgba(242,242,242,1) 9%,rgba(106,164,47,1) 9%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(242,242,242,1) 0%,rgba(242,242,242,1) 9%,rgba(106,164,47,1) 9%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(242,242,242,1) 0%,rgba(242,242,242,1) 9%,rgba(106,164,47,1) 9%); /* IE10+ */
  background: linear-gradient(to bottom, rgba(242,242,242,1) 0%,rgba(242,242,242,1) 9%,rgba(106,164,47,1) 9%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f2f2', endColorstr='#6aa42f',GradientType=0 ); /* IE6-9 */
}

.css-skill {
  background: rgb(242,242,242); /* Old browsers */
  background: -moz-linear-gradient(top, rgba(242,242,242,1) 0%, rgba(242,242,242,1) 32%, rgba(255,189,32,1) 32%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(242,242,242,1)), color-stop(32%,rgba(242,242,242,1)), color-stop(32%,rgba(255,189,32,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(242,242,242,1) 0%,rgba(242,242,242,1) 32%,rgba(255,189,32,1) 32%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(242,242,242,1) 0%,rgba(242,242,242,1) 32%,rgba(255,189,32,1) 32%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(242,242,242,1) 0%,rgba(242,242,242,1) 32%,rgba(255,189,32,1) 32%); /* IE10+ */
  background: linear-gradient(to bottom, rgba(242,242,242,1) 0%,rgba(242,242,242,1) 32%,rgba(255,189,32,1) 32%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f2f2', endColorstr='#ffbd20',GradientType=0 ); /* IE6-9 */
}

.wp-skill {
  background: rgb(242,242,242); /* Old browsers */
  background: -moz-linear-gradient(top, rgba(242,242,242,1) 0%, rgba(242,242,242,1) 19%, rgba(219,54,21,1) 19%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(242,242,242,1)), color-stop(19%,rgba(242,242,242,1)), color-stop(19%,rgba(219,54,21,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(242,242,242,1) 0%,rgba(242,242,242,1) 19%,rgba(219,54,21,1) 19%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(242,242,242,1) 0%,rgba(242,242,242,1) 19%,rgba(219,54,21,1) 19%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(242,242,242,1) 0%,rgba(242,242,242,1) 19%,rgba(219,54,21,1) 19%); /* IE10+ */
  background: linear-gradient(to bottom, rgba(242,242,242,1) 0%,rgba(242,242,242,1) 19%,rgba(219,54,21,1) 19%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f2f2', endColorstr='#db3615',GradientType=0 ); /* IE6-9 */
}

.skill-wrap {
  display: block;
  overflow: hidden;
  margin: 60px 0;
}

.team h4 {
  margin-top: 0;
  text-transform: uppercase;
}

.team h5 {
  font-weight: 300;
}

.single-profile-top, 
.single-profile-bottom {
  font-weight: 400;
  line-height: 24px;
}

.single-profile-top, 
.single-profile-bottom  {
  border: 1px solid #ddd;
  padding: 15px;
  position: relative;
}

.media_image {
  margin-bottom: 10px;
}

.team .btn {
  background:transparent;
  font-size: 12px;
  font-weight: 300;
  margin-bottom: 3px;
  padding: 1px 5px;
  text-transform: uppercase;
  border:1px solid#ddd;
  margin-right: 3px;
}


ul.social_icons,
ul.tag {
  list-style: none;
  padding: 0;
  margin: 10px 0;
  display: block;
}

ul.social_icons li,
ul.tag li {
  display: inline-block;
  margin-right: 5px;
}

ul.social_icons li  a i{
  border-radius: 50%;
  color: #FFFFFF;
  height: 25px;
  line-height: 25px;
  font-size: 12px;
  padding: 0;
  text-align: center;
  width: 25px;
  opacity:.8;
}

/***********************
****Service page css****
***********************/

.services {
  padding: 0;
}

.get-started {
  background: none repeat scroll 0 0 #F3F3F3;
  border-radius: 3px;
  padding-bottom: 30px;
  position: relative;
  margin-bottom: 18px;
  margin-top: 60px;
}

.get-started h2 {
  padding-top: 30px;
  margin-bottom: 20px;
}

.request {
  bottom: -15px;
  left: 50%;
  position: absolute;
  margin-left: -110px;
}

.request h4 {
  position: absolute;
  width: 220px;
  position:relative;
}

.request h4 a{
  background:#c52d2f;
  color: #fff;
  font-size: 14px;
  font-weight: normal;
  border-radius: 3px;
  padding: 5px 15px;
}

.request h4:after {
  border-color: #c52d2f transparent transparent;
  border-style: solid;
  border-width: 12px;
  bottom: -18px;
  content: "";
  height: 0;
  position: absolute;
  right: 13px;
  z-index: -99999;
}

.request h4:before {
  border-color: #c52d2f transparent transparent;
  border-style: solid;
  border-width: 12px;
  bottom: -18px;
  content: "";
  height: 0;
  left: 13px;
  position: absolute;
  z-index: -99999;
}

.footer {
  background: none repeat scroll 0 0 #2E2E2E;
  border-top: 5px solid #C52D2F;
  height: 84px;
  margin-top: 110px;
}

.footer_left {
  padding: 10px;
}

.text-left {
  color: #FFFFFF;
  font-size: 12px;
  margin-top: 15px;
}

/*************************
********* Portfolio CSS ******
**************************/

#portfolio_page {
  margin-top: 115px;
  padding-bottom: 0;
}

.portfolio-items, 
.portfolio-filter {
  list-style: none outside none;
  margin: 0 0 40px 0;
  padding: 0;
}

.portfolio-filter > li {
  display: inline-block;
}

.portfolio-filter > li a {
  background: none repeat scroll 0 0 #FFFFFF;
  font-size: 14px;
  font-weight: 400;
  margin-right: 20px;
  text-transform: uppercase;
  transition: all 0.9s ease 0s;
  -moz-transition: all 0.9s ease 0s;
  -webkit-transition: all 0.9s ease 0s;
  -o-transition: all 0.9s ease 0s;
  border: 1px solid #F2F2F2;
  outline: none;
  border-radius: 3px;
}

.portfolio-filter > li a:hover,
.portfolio-filter > li a.active{
  color:#fff;
  background: #c52d2f;
  border: 1px solid #c52d2f;
  box-shadow: none;
  -webkit-box-shadow: none;
}

.portfolio-items > li {
  float: left;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.portfolio-item {
  margin: 0;
  padding:0;
}

/* Start: Recommended Isotope styles */
/**** Isotope Filtering ****/
.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

/**** Isotope CSS3 transitions ****/
.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
  -moz-transition-duration: 0.8s;
  -ms-transition-duration: 0.8s;
  -o-transition-duration: 0.8s;
  transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
  -moz-transition-property: height, width;
  -ms-transition-property: height, width;
  -o-transition-property: height, width;
  transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
  -moz-transition-property: -moz-transform, opacity;
  -ms-transition-property: -ms-transform, opacity;
  -o-transition-property: -o-transform, opacity;
  transition-property: transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/
.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
  -moz-transition-duration: 0s;
  -ms-transition-duration: 0s;
  -o-transition-duration: 0s;
  transition-duration: 0s;
}

/* End: Recommended Isotope styles */
/* disable CSS transitions for containers with infinite scrolling*/
.isotope.infinite-scrolling {
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none;
}


/**************************
********* Pricing Table CSS *
**************************/

.pricing_heading {
  margin-top: 120px
}

.pricing_heading h2, 
.pricing_heading p {
  color:#4e4e4e;
}

.pricing-area h1 {
  font-weight: 300;
  margin-top: 0;
  margin-bottom: 15px;
}

.pricing-area span {
  font-size: 14px;
}

.pricing-area h3, 
.pricing-area span  {
  color: #4e4e4e;
}

.plan {
  position: relative;
  margin-bottom: 70px;
}

.pricing-area ul {
  background:#FAFAFA;
  padding: 0;
  margin: 0;
}

.pricing-area ul li {
  list-style: none;
  padding: 15px 0;
  font-size: 16px;
  font-weight: 400;
}

.pricing-area ul li:nth-child(even){
  background:#f5f5f5
}

.pricing-area .price-three img, 
.pricing-area .price-six img {
  position: absolute;
  right: 15px;
  top: 0;
}

.pricing-area .heading-one, 
.pricing-area .heading-two, 
.pricing-area .heading-three {
  padding:17px 0;
  border-radius:2px 2px 0 0;
} 

.pricing-area .heading-one, 
.pricing-area .heading-two, 
.pricing-area .heading-three, 
.pricing-area .heading-four, 
.pricing-area .heading-five, 
.pricing-area .heading-six, 
.pricing-area .heading-seven {
  margin-left: -10px
}


.pricing-area .heading-one, 
.pricing-area .price-one .plan-action .btn-primary {
  background: #e24f43
}

.pricing-area .heading-two, 
.pricing-area .price-two .plan-action .btn-primary {
  background:#27AE60;
}

.pricing-area .heading-three,
.pricing-area .price-three .plan-action .btn-primary {
  background: #f39c12;
}

.pricing-area .heading-four, 
.pricing-area .price-four .plan-action .btn-primary {
  background: #5c5c5c
}

.pricing-area .heading-five, 
.pricing-area .price-five .plan-action .btn-primary {
  background: #5c5c5c
}

.pricing-area .heading-six, 
.pricing-area .price-six .plan-action .btn-primary {
  background: #e24f43
;
}

.pricing-area .heading-seven, 
.pricing-area .price-seven .plan-action .btn-primary {
  background: #5c5c5c
}

.pricing-area .bg{
 background: #fafafa 
}

.pricing-area .heading-one h3:before {
  border-color: #bf4539 transparent transparent;
}

.pricing-area .heading-two h3:before {
  border-color: #1f8c4d transparent transparent;
}

.pricing-area .heading-three h3:before {
  border-color: #d4880f transparent transparent;
}

.pricing-area .heading-four h3:before {
  border-color: #424242 transparent transparent;
}

.pricing-area .heading-five h3:before {
  border-color: #424242 transparent transparent;
}

.pricing-area .heading-six h3:before {
  border-color: #bf4539 transparent transparent;
}

.pricing-area .heading-seven h3:before {
  border-color: #424242 transparent transparent;
}

.pricing-area h3:before {
  border-color: #D4880F transparent transparent;
  border-radius: 5px 0 0 0px;
  border-style: solid;
  border-width: 12px;
  content: "";
  height: 0;
  left: 4px;
  position: absolute;
  top: 78px;
  width: 0;
  z-index: -999;
}

.small-pricing h3:after {
  height:94px;
}

.small-pricing h3:before {
  top: 74px;
}

.plan-action {
  height: 40px;
}

.pricing-area .plan-action .btn-primary {
  position: relative;
  padding:5px 20px;
  color: #fff
;
  margin-top: 5px;
}

.pricing-area .plan-action .btn-primary:before {
  border-color: #E24F43 transparent transparent;
  border-radius: 5px 0 0 0;
  border-style: solid;
  border-width: 12px;
  bottom: -12px;
  content: "";
  height: 0;
  left: -9px;
  position: absolute;
  width: 0;
  z-index: -1;
}

.pricing-area .plan-action .btn-primary:after {
  border-color: #E24F43 transparent transparent;
  border-radius: 5px 0 0 0;
  border-style: solid;
  border-width: 12px;
  bottom: -12px;
  content: "";
  height: 0;
  position: absolute;
  right: -9px;
  width: 0;
  z-index: -1;
}

.pricing-area .price-two .plan-action .btn-primary:before, 
.pricing-area .price-two .plan-action .btn-primary:after {
  border-color: #1f8c4d transparent transparent;
}

.pricing-area .price-three .plan-action .btn-primary:before, 
.pricing-area .price-three .plan-action .btn-primary:after {
  border-color: #d4880f transparent transparent;
}

.pricing-area .price-four .plan-action .btn-primary:before, 
.pricing-area .price-four .plan-action .btn-primary:after, 
.pricing-area .price-five .plan-action .btn-primary:before, 
.pricing-area .price-five .plan-action .btn-primary:after, 
.pricing-area .price-seven .plan-action .btn-primary:before, 
.pricing-area .price-seven .plan-action .btn-primary:after  {
  border-color: #424242 transparent transparent;
  right: -9px;
}

.pricing-area .price-six .plan-action .btn-primary:before, 
.pricing-area .price-six .plan-action .btn-primary:after {
  border-color: #bf4539 transparent transparent;
  right: -9px;
}

ul.gallery {
  list-style: none;
  padding: 0;
  margin: 0;
}

ul.gallery li {
  display: block;
  width: 60px;
  padding: 0;
  margin: 0 4px 4px 0;
  float: left;
}

ul.faq {
  list-style: none;
  margin: 0;
}

ul.faq li {
  margin-top: 30px;
}

ul.faq li:first-child {
  margin-top: 0;
}

ul.faq li span.number {
  display: block;
  float: left;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  background: #34495e;
  color: #fff;
  font-size: 24px;
}

ul.faq li > div {
  margin-left: 70px;
}

ul.faq li > div h3 {
  margin-top: 0;
}


.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.readmore{
  margin-top: 0;
}

ul.pagination > li > a {
  border: 1px solid #F1F1F1;
  margin-right:5px;
  border-radius: 5px;
  font-size: 16px;
  padding: 5px 14px;
}

ul.pagination > li > a i{
  margin-left:5px;
  margin-right:5px;
}

ul.pagination > li.active > a, 
ul.pagination > li:hover > a {
  background-color: #c52d2f !important;
  border-color: #c52d2f !important;
  color: #fff;
}

.search_box {
  background-image: url("../images/search_icon.png");
  background-position: 314px 15px;
  background-repeat: no-repeat;
  border-color: #DEDEDE;
  height: 48px;
  outline: medium none;
  box-shadow: none;
}

.form-control:focus {
  box-shadow:none;
  outline: 0 none;
}


ul.tag-cloud, 
ul.sidebar-gallery {
  list-style: none;
  padding: 0;
  margin: 0;
}

.tag-cloud li{
    display: inline-block;
    margin-bottom: 3px;
}

.tag-cloud li a {
  background: #f5f5f5;
  color: #888;
  border: 0;
  border-radius: 4px;
  padding: 8px 15px;
}

.tag-cloud li a:hover{
  background:#c52d2f;
  color: #fff;  
}

.post_reply ul li a i.fa-facebook {
  background: #0182C4;
}

.post_reply ul li a i.fa-twitter {
  background: none repeat scroll 0 0 #3FC1FE;
}

.post_reply ul li a i.fa-google-plus{
 background: none repeat scroll 0 0 #D34836;
}

.message_heading {
  margin-bottom: 50px;
  margin-top: 60px;
}


/******************
 404 page css
 ******************/

#error .btn-success:hover, 
.btn-success:focus, 
.btn-success:active, 
.btn-success.active, 
.open .dropdown-toggle.btn-success:hover {
  background-color: #EBEBEB;
  border-color: #EBEBEB;
  color: #4E4E4E;
}

#error h1{
  color: #4e4e4e;
  text-transform: uppercase;
}


/******************
shortcodes page css
******************/

.shortcode-item {
  padding-bottom: 0;
}

.shortcode-item h2 {
  color: #4E4E4E;
  font-size: 24px;
  margin-bottom: 22px;
  margin-top: 0;
  font-weight: 600
}



/***********************
********* Footer ******
************************/
.footer-bottom section{
  padding: 70px 0;
}
#bottom {
  font-family: "Lato",sans-serif;
  background: #5bc475; 
  opacity: 0.8;
  filter: alpha(opacity=60);
  font-size: 15px;
  font-weight: 400;
  border-top: 2px solid #5bc475;
}

#bottom h3 {
  margin-top: 0;
  margin-bottom: 10px;
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  font-size:18px;
  font-weight: 500;
  color: #fff;
}

#bottom p{
  color: #fff;
  font-size: 15px;
  text-align: justify;
}
.socials p a{
  color: #fff;
}

.socials p a:hover{
  color: #c41c3d;
}

#bottom ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#bottom ul li {
  display: block;
  padding: 5px 0;
}

#bottom ul li a {
  color: #fff;
}

#bottom ul li a:hover {
  color: #c41c3d;
}

.socials ul {
  list-style: none outside none;
  margin: 0;
  padding: 0;
  margin-top: 5px;
}


.socials ul{
  display: flex;
}

.socials [class*="fa fa-"] {
    background-color: #f7f7f7;
    border-radius: 30px;
    color: #74b679;
    display: inline-block;
    height: 30px;
    line-height: 30px;
    margin: auto 3px;
    width: 30px;
    font-size: 15px;
}

.socials [class*="fa fa-"]:hover{
    color: #c41c3d;
}

#footer {
  padding-top: 30px;
  padding-bottom: 30px;
  color: #fff;
  font-family: "Lato",sans-serif;
  background: #5bc475; 
  opacity: 0.8;
  filter: alpha(opacity=60);
  font-size: 15px;
  font-weight: 400;
}

#footer a {
  color: #fff;
}

#footer a:hover {
  color: #c41c3d;
}

#footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#footer ul > li {
  display: inline-block;
  margin-left: 15px;
}


.panel{
  background: #f7f7f7;
}

.panel .panel-header{
  text-align: center;
  font-size: 16px;
  padding-top: 18px;
  font-weight: 600;
}
.thumb_strip {height: 125px;left: 0;position: absolute;top: 0;width: 125px; border-radius: 10px;}
a.strip_list:hover {box-shadow: 0 8px 5px 0 #9b9d9f;transform: translate(0px, -5px);}
a.strip_list {color: #555;transition: all 0.3s ease-in-out 0s;}
#delivery_time, #hero_video, #hero_video > div, .box_home, .high_light a, .thumb_strip {text-align: center;}
#sub_content #thumb, .thumb_strip {overflow: hidden;}
/*.thumb_strip img {height: auto; width: 100%;} 
*/.chef_list_detail .strip_list {background-color: #fff;border: 1px solid #ededed;border-radius:50px 2px;display: block;width:100%;line-height: 1.3;margin-bottom: 30px;padding: 20px 20px 20px;position: relative;}
.strip_list .go_to {display: table;height: 126px;text-align: right;width: 100%;}
.strip_list .go_to div {vertical-align: middle;}
.chef_list_detail .go_to div {display: table-cell;}
.chef_list_detail .thumb_strip{height: 125px;left: 0;position: absolute;top: 0;width: 125px;}
.chef_list_detail .desc {min-height: 125px;padding-left: 140px;padding-right:0px;position: relative;}
.chef_list_detail .desc h3 {margin-top: 6px;text-align: left;text-transform: none;}
.chef_list_detail .desc .type{text-align:left;}
.chef_list_detail .desc .location{text-align:left}
.chef_list_detail .desc .rating, .carousel .item .rating{text-align:left}

.chef_list_detail .single-post .tags{display:inline-block;width:100%;margin-top:20px}
.chef_list_detail .single-post .tags li a{font-size:13px;padding:6px 20px}
.chef_list_detail .thumb-slider{border:1px solid #e6e6e6;padding:10px}
.chef_list_detail #carousel .flex-viewport{margin-top:10px}
.chef_list_detail #carousel .slides > li{margin-left:10px}
.chef_list_detail #carousel li:nth-child(1){margin-left:0}
.chef_list_detail #carousel .flex-direction-nav{display:none}
.chef_list_detail .home-in{background:#f2f2f2;display:inline-block;width:100%;height:40px;border-bottom:1px solid #ff5722}
.chef_list_detail .home-in li{display:inline-block;float:left;width:25%;margin-bottom:0;padding-left:10px;line-height:37px}
.chef_list_detail .home-in li span{font-size:12px;color:#777}
.chef_list_detail .home-in li span i{font-size:14px;margin-right:5px}
.chef_list_detail h5{font-weight:600;color:#444}
.chef_list_detail .sale-tag{background:#ff5722;font-size:16px;text-transform:uppercase;color:#fff;display:inline-block;float:left;padding:10px 30px;margin-right:10px;margin-top:10px;margin-bottom:20px}
.chef_list_detail .find-sec{margin-top:0;background:#f8f8f8;padding:20px;padding-bottom:10px}
.chef_list_detail .side-bar h5{text-align:left;margin-top:10px;margin-bottom:10px;text-transform:none;font-size:18px}
.chef_list_detail .find-sec h5{margin-bottom:10px}
.chef_list_detail .find-sec select{background-color:#fff;font-family:'Open Sans',Arial,Helvetica,sans-serif;text-transform:uppercase;color:#a5a5a5;font-size:11px;margin-bottom:10px}
.chef_list_detail .find-sec:before{display:none}
.chef_list_detail .find-sec .btn{margin-top:10px}
.chef_list_detail .finder{position:relative;top:0}
.chef_list_detail .categories li{line-height:32px;padding-left:24px}
.chef_list_detail .categories li:before{content:"";font-family:FontAwesome;padding:0;color:#666;padding-left:30px;left:0;font-size:15px;font-weight:100;position:absolute}
.chef_list_detail .categories li a{color:#222}
.chef_list_detail .categories li a:hover{color:#4caf50}
.chef_list_detail .categories h5{margin-bottom:5px}
.chef_list_detail .side-bar .text-post{float:right;width:68%;margin-left:8px;}
.chef_list_detail .categories span{color:#ff5722}
.chef_list_detail .side-bar hr{margin-bottom:15px;margin-top:15px;border-color:#cacaca}
.chef_list_detail .socil-action{display:inline-block;width:100%}
.chef_list_detail .socil-action li{float:left;width:50%;padding-right:10px;margin-top:10px}
.chef_list_detail .side-bar .recent-come li{margin-bottom:0}
.chef_list_detail .side-bar .img-post{height:70px;width:70px;float:left;border-radius:50px}
.img-post img{border-radius:50px;width:72px; height:auto}
.chef_list_detail .side-bar.text-post{float:right;width:72%}
.chef_list_detail .side-bar .recent-come li a{color:#222;font-size:14px;margin-top:0;text-transform:none;line-height:22px;}
.chef_list_detail .side-bar .recent-come li a:hover{color:#7dbf18}
.chef_list_detail .side-bar .recent-come li{border-bottom:1px solid #cacaca;display:inline-block;width:100%;margin-top:10px;padding-bottom:10px}
.chef_list_detail .side-bar .recent-come li:nth-child(1){margin-top:0}
.chef_list_detail .side-bar .recent-come li span{font-weight:600;color:#4caf50;font-size:14px;display:inline-block;width:100%}
.chef_list_detail .socil-action li a{display:inline-block;width:100%;color:#fff;text-align:center;font-size:11px;line-height:26px;font-family:'Open Sans',Arial,Helvetica,sans-serif;text-transform:uppercase}
.chef_list_detail .socil-action li i{background:rgba(255,255,255,0.2);float:left;height:26px;font-size:13px;width:26px;line-height:26px}
.chef_list_detail .tags{display:inline-block;width:100%}
.chef_list_detail .tags li{display:inline-block}
.chef_list_detail .tags li a{border:1px solid #dcdcdc;color:#adadad;padding:5px 10px;float:left}
.chef_list_detail .flicker-post{display:inline-block;width:100%}
.chef_list_detail .flicker-post li{float:left;width:33.333%;padding-right:6px;padding-bottom:6px}
.chef_list_detail .flicker-post li a:hover{opacity:.5}
.chef_list_detail .tags li a:hover{background:#4caf50;color:#fff;border-color:#4caf50}
.chef_list_detail .socil-action li .rss{background:#f60}
.chef_list_detail .socil-action li .tw{background:#31aae2}
.chef_list_detail .socil-action li .fb{background:#3b59a1}
.chef_list_detail .socil-action li .pin{background:#cc2127}
.chef_list_detail .socil-action li .drib{background:#ea367e}
.chef_list_detail .socil-action li .g-plus{background:#dd4c39}
.desc .rating, .item .rating {color: #ccc;padding-top: 0;text-align:left;}
.rating {color: #fff;padding-top: 10px;}
.desc .rating i, .item .rating i {color:#fc0;font-size: 16px;}
.rating .voted {color: #fc0;margin-right: 3px;}
.rating i {font-size: 18px;}

#summary_review {background-color: #FFFFFF;margin: 30px 0 40px;padding: 25px 25px 25px;border-radius:10px;}
#general_rating {font-size: 16px;font-weight: 600;margin: 0 0 20px;}
#rating_summary ul {margin: 0;padding: 0;}
#rating_summary ul li {font-size: 14px;margin-bottom: 5px;}
#rating_summary ul li .rating {color: #fc0;display: inline-block;float: right;padding: 0;}
#rating_summary ul li .rating i{margin-right:2px;}

#general_rating .rating {color: #fc0;display: inline;font-size: 20px;padding-left:10px;}
#general_rating .rating  i{margin-right:2px;}
.review_strip_single h4 {font-size: 18px; font-weight:500;}
.review_strip_single small {float: right;font-size: 12px;font-style: italic;margin-top: -10px;}
.review_strip_single img {border:2px solid #ededed;left: 0;position: absolute;top: -15px;width:76px;height:auto}
.img-circle {border-radius: 50%;}
.review_strip_single {margin: 30px 0 25px;padding: 30px 0 20px;position: relative;}
#position, .review_strip_single {border-bottom: 1px solid #ededed;}
.review_strip_single .rating {color: #fc0;}
.review_strip_single .rating  i{margin-right:2px;}

#rating_summary ul{ list-style-type: none;}

.modal-popup {background: #c41c3d none repeat scroll 0 0;border: medium none;border-radius: 50px;padding: 1px 30px 10px;position: relative;margin-top:60px;}
.modal-popup a.close-link {color: #fff;font-size: 22px;position: absolute;right: 30px;top: 20px;}
.modal-dialog #review {max-width: 650px;width: 100%;}
.popup-form {margin: 60px auto;max-width: 375px;width: 90%;}
.login_icon{text-align:center;}
.modal-dialog #review .form-control.form-white, .parallax-content-2 div p {margin-bottom: 0;}
select.form-control.form-white {-moz-appearance: none;border-radius: 4px;height: 42px;line-height: 28px;}
.popup-form .form-control {margin: 20px 0;}
.form-control.form-white {-moz-appearance: none;background: rgba(0, 0, 0, 0) none repeat scroll 0 0;border: 1px solid #fff;border-radius: 0;color: #555;font-size: 15px;height: 42px;line-height: 42px;position: relative;transition: background-color 0.3s ease 0s;}
.review_btn-submit {background: rgba(0, 0, 0, 0) none repeat scroll 0 0;border: 2px solid #fff;color: #fff;font-size: 16px;font-weight: 600;margin-top: 30px;outline: 0 none;padding: 10px;transition: all 0.2s ease 0s;width: 100%;}
.review_btn-submit:hover {background: #fff none repeat scroll 0 0;color: #666;}
.login_icon i{display: inline-block;font-size:66px;color:#fff;margin:15px 0;text-align: center;}
#expertise option{padding:5px 13px;border-bottom:1px solid rgba(0, 0, 0, 0.2)}
#expertise{background:#f6f3f0}
#punctuality option{padding:5px 13px;border-bottom:1px solid rgba(0, 0, 0, 0.2)}
#punctuality{background:#f6f3f0}
#courtesy option{padding:5px 13px;border-bottom:1px solid rgba(0, 0, 0, 0.2)}
#courtesy{background:#f6f3f0}
.modal-popup  #review_text{background:#f6f3f0;border-radius: 4px;color:#555}
.modal-popup #submit-review{text-align:center;margin:20px auto 10px auto;display:block;width:auto;padding:10px 40px;border-radius:6px;}
.animated {animation-duration: 1s;animation-fill-mode: both;}
#sub_content h1 {color: #fc0;font-size: 40px;font-weight: 300;margin: 0 0 10px;text-transform: none;text-align:left}
#home #subheader #sub_content {font-size: 16px;}
#custom-search-input {margin:0 auto;padding: 0;position: relative;top: 10px;width: 66%;}
.input-group {border-collapse: separate;display: table;position: relative;width:80%;margin:0 auto;}
#custom-search-input .search-query {border: 0 none;border-radius: 30px;box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.75);color: #444;font-weight: 500;padding: 15px 30px;width: 100%;}
.input-group-btn {font-size: 0;position: relative;white-space: nowrap;}
.input-group-addon, .input-group-btn {vertical-align: middle;white-space: nowrap;width: 1%;}
.input-group .form-control, .input-group-addon, .input-group-btn {display: table-cell;}
#custom-search-input input.btn_search {background: rgba(0, 0, 0, 0) url("../img/search.png") no-repeat scroll right center;border: 0 none;cursor: pointer;height: 30px;position: absolute;right: 20px;top: 12px;width: 30px;}
#count {background-color:rgba(80, 164, 47, 0.80);border-top: 1px solid rgba(255, 255, 255, 0.10);border-bottom: 1px solid rgba(255, 255, 255, 0.10);bottom: 0;font-size: 18px;left: 0;padding: 15px 0;position: absolute;width: 100%;}
#count, #hero_video {color: #fff;z-index: 99;}
#count ul {margin: 0;padding: 0;text-align: center;}
#count ul li:first-child {background: rgba(0, 0, 0, 0) none repeat scroll 0 0;margin-left: 0;padding-left: 0;}
#count ul li {background: rgba(0, 0, 0, 0) url("../img/dots_vert.png") no-repeat scroll left center;display: inline-block;margin: 0 10px;padding-left: 20px;text-align: center;}
#count .number {display: inline-block;font-size: 24px;font-weight: 600;margin-right: 5px;text-align: right;width: auto;}


/*Checkout*/

.margin_60 {padding-bottom: 60px;padding-top: 60px;}

#cart_box, .box_style_2 {margin-bottom: 25px;padding: 25px;}
#cart_box, .box_style_2:last-child{margin-bottom:0px;}
#cart_box {background: #fff;border: 1px solid #ededed;border-radius: 3px;margin-bottom: 25px;padding: 15px;}
#cart_box h3 {background: #5bc475;border-top-left-radius: 3px;border-top-right-radius: 3px;font-size: 16px;margin: -15px -15px 15px;padding: 15px;}
#cart_box hr {border-color: #ededed;margin-left: -15px;margin-right: -15px;}
#cart_box .btn_full, #cart_box a.btn_full {background: #c41c3d;border: 2px solid #c41c3d;font-size: 16px;color:#fff;text-align:center;text-transform:none;font-weight:600;}
.side-bar .table tbody tr td{border-top:0px; border-right:0px;}
.side-bar .table{margin-bottom:5px;}
.table td.total_confirm, .table.table_summary td.total {font-size: 18px;font-weight: 700;color:#555}
a.remove_item {color: #555;font-size: 17px;vertical-align:middle;margin-right:3px;}
a.remove_item:hover {color: #c33;}
.fa.pull-right {font-size: 22px;margin-left: 0.3em;}
.recent-come .rating{text-align:left;padding-top:2px;}
.recent-come .rating i {color: #fc0;font-size: 16px;}
#cart_box .btn_full:hover, #cart_box a.btn_full:hover {background: #fff;border: 2px solid #5bc475;color: #50a42f;}
.btn_full, a.btn_full {background: #c41c3d;border: medium none;border-radius: 3px;display: block;font-weight: 700;margin-bottom: 5px;padding: 10px;transition: all 0.3s ease 0s;width: 100%;}

.white_for_login .table-striped td strong{text-align:left;display:inline-block}
.white_for_login .table td.total_confirm {background-color: #666;color: #fff;}
.white_for_login .table{border-top: 1px solid #ddd;line-height: 1.42857;padding: 8px;vertical-align: top;}

.sidebar_time_list .nomargin_top{border-bottom: 1px solid #cacaca;color: #333;font-size: 18px;font-weight: 500;margin-top: 0;padding-bottom: 15px;}
.box_style_2 h2.inner {margin: -25px -25px 25px;padding: 16px 10px;text-align:center;text-transform:none;}
#help.box_style_2 i {color:#50a42f;display: inline-block;font-size: 52px;}
#help.box_style_2 a.phone {color: #50a42f;display: block;font-size: 26px;margin-bottom: 0;}
#confirm, #pass-info, #sub_content, #sub_content #thumb, #help.box_style_2, .feature i, .features-img, .marker_info, .modal-popup, .parallax-content, .parallax-content-2 > div, .sk-spinner-wave.sk-spinner, .strip_list.grid .desc, .tooltip-content, a.bt_filters, a.load_more_bt{text-align:center}
#main_menu.box_style_2, .box_style_2.info {padding-bottom: 10px;}
.box_style_2 h2.inner {margin: -25px -25px 25px;padding: 12px 15px;}
#main_menu h3 {color: #50a42f;font-size: 20px;font-weight: 600;text-transform:uppercase;}
.table.cart-list {margin-bottom: 0;}
.table.cart-list td h5 {font-weight: 600;font-size:15px;margin-bottom: 5px;text-transform:none;}
.table.cart-list td p{font-size:14px;}
.options i {font-size: 29px;display:block;}
.table-striped td strong{text-align:center;display:block;}
.feature h3 span, a {color: #50a42f;text-align:center;  }
.feature h3 span, a:hover {color: #666;}
.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th{border-right: 1px solid #ddd;border-top: 1px solid #ddd;line-height: 1.42857;padding: 8px;vertical-align: top;font-size:13px}
.table > tbody > tr > td:last-child{border-right:0px;}
.table > thead > tr > th:last-child{border-right:0px;}